$button-active-background-color: rgb(1, 9, 78);
$button--background-color: rgb(1, 9, 78);
$company-name--background-color: rgb(23, 81, 148);
$danger-border-color: rgb(245, 198, 203);
$danger-background-color: rgb(245, 198, 203);
$danger-color: rgb(114, 28, 36);
$form-group-background-color: rgb(215, 220, 234);
$white: #ffffff;

.App {

  text-align: center;
}

.company_name {

  background-color: $company-name--background-color;
  border: 1px solid $company-name--background-color;
  color: $white;
  margin-top: 100px;
}

form [type="submit"] {

  background-color: $button--background-color;
  border-radius: 5px;
  color: $white;
  height: 40px;
}

[type="submit"]:hover,

[type="submit"]:active {

  background-color: $button--background-color;
}

form [type="text"]:focus,

form [type="password"]:focus,

form [type="submit"]:focus,

form [type="email"]:focus {

  box-shadow: none;
}

form input {

  margin: 3px;
}

.form-group {

  background-color: $form-group-background-color;
  padding: 5%;
}

.danger {

  background-color: $danger-background-color;
  border-color: $danger-border-color;
  border-radius: 3px;
  color: $danger-color;
  margin: 5%;
  padding: 0.8%;
  text-align: left;
}
