$main-color: #094469;
$button-hover-color:  #0c5e91;
$input-error: #d84b4b;
$background-color: #ffffff;
$color: #063526;
$have-account: #ff0000;
$box-shadow: #000000;
$success: #0cb67c;
$back: #175194;
$nav-color: #022b44;
$login-form: #808080;
$facebook-button: #3b5998;
$google-button: #dd4b39;
$user-data-font-size: 20px;
$user-data-margin: 10%;
$button-hover-color: #0c5e91;
$back-ground-color: #033152;
$username-color: #000000;
$uploadbutton: #f0f8ff;

