$bg-color: rgb(23, 81, 148);
$boarder-color: rgb(23, 81, 148);
$boarder: 1px solid $boarder-color;
$button-active-background-color: rgb(1, 9, 78);
$button--background-color: rgb(1, 9, 78);
$company-name--background-color: rgb(23, 81, 148);
$danger-border-color: rgb(245, 198, 203);
$danger-background-color: rgb(245, 198, 203);
$danger-color: rgb(114, 28, 36);
$form-group-background-color: #ffffff;
$white: #ffffff;

.company_name {

  background-color: $bg-color;
  border: $boarder;
  color: $white;
  margin-top: 100px;
}

form [type="text"]:focus,

form [type="password"]:focus,

form [type="submit"]:focus,

form [type="email"]:focus {

  box-shadow: none;
}

form input {

  margin: 3px;
}

.form-group {

  background-color: $form-group-background-color;
  padding: 15%;
}

.danger {

  background-color: $danger-background-color;
  border-color: $danger-border-color;
  border-radius: 3px;
  color: $danger-color;
  margin: 5%;
  padding: 0.8%;
  text-align: left;
}
